<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Maker</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex-container">
            <div class="flex-item">
                <img src="images/cocktail1.jpg" class="image-container" alt="">
            </div>
            <div class="flex-item">
                <img src="images/cocktail2.jpg" class="image-container" alt="">
            </div>
            <div id="flex-middle">
                <a href="/">
                    <h1>Drink Recipe Finder</h1>
                </a>
                <!-- <button>Geneare Random Drink</button> -->
                <% if(locals.error) {%>
                    <p style="color: red;">Sorry There are no Drink with that name</p>
                    <% } %>
                <form action="/search" method="post">
                    <input type="text" name="drink" placeholder="Search Drink">
                    <input type="submit" value="submit">
                </form>
            </div>
            <div class="flex-item">
                <img src="images/marg1.jpg" class="image-container" alt="">
            </div>
            <div class="flex-item">
                <img src="images/marg2.jpg" class="image-container" alt="">
            </div>
        </div>
    </header>