<%- include("partials/header.ejs")  %>
    
    <main>
        <div class="container">
            <div class="grid-itemone"></div>
            <div class="grid-itemtwo">
                <h2>Want A Random Drink?</h2>
                <p>Welcome to our Random Drink Generator, your go-to destination 
                    for discovering exciting new beverages! 
                    Whether you're hosting a party, 
                    looking to try something new, or just in the mood for a surprise, 
                    our generator offers a wide variety of drinks to 
                    suit any occasion. With just a click, you'll be introduced to a refreshing cocktail, a unique mocktail, or an exotic brew.
                     Explore endless possibilities and elevate your beverage 
                    experience with our curated collection of recipes. Cheers to new adventures in taste!
                </p>
                <form action="/random" method="get">
                    <input type="submit" value="submit" style="width: 100px;">
                </form>
            </div>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>